In [23]:
import pandas as pd

data1 = {'nr rejestru': [2, 4, 6, 8, 10, 12, 14],
        'miasto wojewódzkie': ['Wrocław','Bydgość / Toruń','Lublin','Gorzów Wielkopolski / Zielona Góra','Łódź','Kraków','Warszawa'],
        'powierzchnia [km²]': [19946.0, 17971.34, 25122.46, 13987.93, 18218.95, 15182.79, 35558.47],
        'ludność': [2904198, 2086210, 2139726, 1018084, 2493603, 3372618, 3534914]}
frame1 = pd.DataFrame(data1, index=['dolnośląskie','kujawsko-pomorskie','lubelskie','lubuskie','łódzkie','małopolskie','mazowieckie'])
frame1.index.name = 'województwo'
frame1[frame1["powierzchnia [km²]"] < 20000]
df = frame1[frame1["ludność"] > 2000000]
frame1.loc['wielkopolskie'] = [30,'Poznań',29826.50,3475323]
frame1.sort_values(by='ludność', ascending=False)
frame1 = frame1[['nr rejestru','powierzchnia [km²]','ludność','miasto wojewódzkie',]]
frame1 = frame1.rename(index=str.title)

,nr rejestru,powierzchnia [km²],ludność,miasto wojewódzkie
województwo,,,,
Dolnośląskie,2,19946.00,2904198,Wrocław
Kujawsko-Pomorskie,4,17971.34,2086210,Bydgość / Toruń
Lubelskie,6,25122.46,2139726,Lublin
Lubuskie,8,13987.93,1018084,Gorzów Wielkopolski / Zielona Góra
Łódzkie,10,18218.95,2493603,Łódź
Małopolskie,12,15182.79,3372618,Kraków
Mazowieckie,14,35558.47,3534914,Warszawa
Wielkopolskie,30,29826.50,3475323,Poznań